[Unit]
Description=EVE WebUI
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /eve/webui/launcher.py

[Install]
WantedBy=multi-user.target
